.SingUP {
    background-color: deepskyblue;
    color: rgb(250, 249, 249);
    border-radius: 15px;
    border: 1px solid beige;
    width: 200px;
    height: 31px;
    padding: 1px;
    text-align: center;
    cursor: pointer;
    margin-left: -163px;
    margin-top: 159%;
    padding-top: 92%;
}
